/** DON'T TOUCH THOSE - scroll down! **/
/* Mixin definitions */
/** 
*
* CHANGE THINGS BELOW 
*
**/
/* Define your animation here */
@keyframes bringIn {
  from {
    -moz-transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); }

  to {
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); } }

@-moz-keyframes bringIn {
  from {
    -moz-transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); }

  to {
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); } }

@-webkit-keyframes bringIn {
  from {
    -moz-transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); }

  to {
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); } }

@keyframes bringOut {
  from {
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }

  to {
    -moz-transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); } }

@-moz-keyframes bringOut {
  from {
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }

  to {
    -moz-transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); } }

@-webkit-keyframes bringOut {
  from {
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }

  to {
    -moz-transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); } }

.imgbox3d_box {
  -moz-animation: bringIn 3s;
  -moz-animation-timing-function: ease-in;
  -moz-animation-play-state: paused;
  -webkit-animation: bringIn 3s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-play-state: paused;
  animation: bringIn 3s;
  animation-timing-function: ease-in;
  animation-play-state: paused; }
