/** Webkit **/
@-webkit-keyframes bringOut {
    from { -webkit-transform: rotateX(0deg); }
    to { -webkit-transform: rotateX(90deg); }
}

@-webkit-keyframes bringIn {
    from { -webkit-transform: rotateX(90deg); }
    to { -webkit-transform: rotateX(0deg); }
}

/** Mozilla **/

@-moz-keyframes bringOut {
    from { -moz-transform: rotateX(0deg); }
    to { -moz-transform: rotateX(90deg); }
}

@-moz-keyframes bringIn {
    from { -moz-transform: rotateX(90deg); }
    to { -moz-transform: rotateX(0deg); }
}

/** W3C standard **/

@keyframes bringOut {
    from { transform: rotateX(0deg); }
    to { transform: rotateX(90deg); }
}

@keyframes bringIn {
    from { transform: rotateX(90deg); }
    to { transform: rotateX(0deg); }
}

.imgbox3d_box {
    -webkit-animation: bringIn 2s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-play-state: paused;
        
    -moz-animation: bringIn 2s;
    -moz-animation-timing-function: ease-in;
    -moz-animation-play-state: paused;
    
    animation: bringIn 2s;
    animation-timing-function: ease-in;
    animation-play-state: paused;
}
